POSTGRES_DB=my_portifolio
POSTGRES_USER=my_portifolio
POSTGRES_PASSWORD=my_portifolio_local
POSTGRES_PORT=5432
DATABASE_URL=postgresql://my_portifolio:my_portifolio_local@127.0.0.1:5432/my_portifolio?schema=public
AWESOME_API_KEY=
COINGECKO_API_KEY=
FINNHUB_API_KEY=
ALPHA_VANTAGE_API_KEY=
